[submodule "IEEEConference"]
	path = IEEETran/ieee-conference
	url = git@Lithium:LaTeX/IEEEConference.git
	branch = dev
[submodule "Minimus"]
	path = IEEETran/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = dev
[submodule "StandaloneSilicon"]
	path = IEEETran/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = dev
[submodule "MakefileLaTeX"]
	path = IEEETran/makefile-latex
	url = git@Lithium:LaTeX/MakefileLaTeX.git
	branch = dev
